html{
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Muli', 'sans-serif';
  background: linear-gradient(#21c08b, #8f57fd);
  background-repeat: no-repeat;
}

.register-form{
  width: 100%;
  display: flex;
  padding: 25px;
  justify-content: center;
}