.login__container{
  width: 350px;
  border: 2px solid white;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.login__container h2{
  color: white;
  font-size: 2.4rem;
  margin: 30px 0 20px 0;
}

.login__container--form{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login__container--form .input{
  background-color: transparent;
  padding-left: 5px;
  height: 30px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white; 
  margin-top: 40px;
}
::placeholder{
  color: white;
  font-size: 1.5rem;
}

.login__container--form .button{
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 25px;
  height: 50px;
  color: white;
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

.login__container--form label{
  font-size: 1.2rem;

  display: flex;
  align-items: center;
}
.login__container--remember-me{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__container--remember-me a{
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.login__container--social-media{
  color: white;
  margin-top: 30px;
}
.login__container--social-media div{
  margin-top: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.login__container--social-media div img{
  margin-right: 5px;
}

.login__container--register{
  color:white;
  margin-top: 50px;
  font-size: 1.2rem;
}
.login__container--register a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 3px;
}